:root {
  --text-color: #333333;
}

footer.dark-theme {
  --text-color: #f3f3f3;
}

.div-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgb(201, 194, 194);
  font-family: "Work Sans", sans-serif;
  margin: 2rem 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.footer-content {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 600;
  margin-top: 1rem;
  gap: 1rem;
}

.li-footer-lighter {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
}

.li-footer-lighter-email {
  font-weight: 350;
  font-size: 1rem;
  letter-spacing: normal;
}

.click-site-footer {
  font-weight: bolder;
  font-size: 1.25rem;
}

footer a {
  text-decoration: none;
  color: var(--text-color);
}

#politicas {
  font-size: 0.8125rem !important;
  line-height: 1.5625rem !important;
  font-weight: normal !important;
  gap: 0;
  flex-direction: column;
}

.politicas-lower {
  text-align: center;
}

.footer-link-criado {
  text-decoration: underline;
}

.nav-logo {
  border-radius: 50%;
}

@media only screen and (min-width: 1024px) {
  .div-footer {
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 1rem;
    /* max-width: 90%; */
  }
  .footer-content {
    flex-direction: column;
    gap: 0rem;
    /* max-width: 90%; */
  }
}
